    12     8     1     # number of positons on x and y, then the number of samples at each position
  134.200   29.300    7.500  # coordinates of the top left sample
   35.200   28.700    7.300  # coordinates of the top right sample
  133.500   92.900    7.100  # coordinates of the bottom left sample
   35.000   91.900    7.000  # coordinates of the bottom right sample
   0.0000   0.0000  # fractional offsets of sub-sample 
    0.300 # zstep - the spacing in z between images
     4     # nimages - the number of images of each sample
AMi_sample     # sample name
AB_xs2     # plate name
